body {
    font-family: Arial, sans-serif;
    background-color: #3abfcb;
    padding: 40px;
}

h2{
    color : white;
    text-align: center;
    font-size: 40px;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 400px;
    margin: auto;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input[type="text"], input[type="submit"], form select, form input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
}

form input[type="submit"] {
    background-color: #3abfcb;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #278088;
}

